<div class="card shadow-base-300 bg-base-100 w-96 shadow-xl">
    <div class="card-body">
        <h2 class="card-title">Summary</h2>
        <div class="flex flex-row justify-between">
            <div class="flex flex-col">
                <p class="text-success">{{stats.passed}} features passed</p>
                <p class="text-error">{{stats.failed}} features failed</p>
            </div>
            <div class="flex flex-col">
                <p class="text-success">{{stats.scenariosPassed}} scenarios passed</p>
                <p class="text-error">{{stats.scenariosFailed}} scenarios failed</p>
            </div>
        </div>
    </div>
</div>