<div class="navbar bg-base-100">
    <div class="flex-1">
        <a class="btn btn-ghost text-xl">Results</a>
    </div>
    <div class="flex-none gap-2">
        <label>Failed Features Only</label>
        <input id="fail-filter-feature" type="checkbox" />
        <label>Failed Scenarios Only</label>
        <input id="fail-filter-scenario" type="checkbox" />

        <div class="form-control">
            <input
                id="feature-search"
                type="text"
                placeholder="Search"
                class="input input-bordered w-24 md:w-auto"
            />
        </div>
    </div>
</div>